<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Woodonggo"
        tools:targetApi="33">

        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Home.Home_category"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Home.Home_search"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Home.Home_notification"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Home.Home_posting"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".FragmentPlace"
            android:theme="@style/AppTheme.MaterialTheme"/>
        <activity android:name=".ChatDetails"
            android:theme="@style/AppTheme.MaterialTheme"/>
        <activity android:name=".Mypage_profile"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Mypage_profile_edit"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Mypage_match"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Mypage_interest"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".LoginSignup"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".LoginSignup2"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <meta-data android:name="com.kakao.sdk.Appkey"
            android:value="6e57980f9050faf730dbb4af45ab8602"/>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--                <!— Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" —>-->
                <data
                    android:host="oauth"
                    android:scheme="kakaocbcd0f31a70352a954647060b9576612" />
            </intent-filter>
        </activity>
    </application>

</manifest>